@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@* Removed specific Homepage model type and ContentModels alias to resolve compilation issues. *@
@{
    Layout = "layout.cshtml"; 
}

@* Check if the current page is a 'News Article' Document Type *@
@if (Model.ContentType.Alias == "newsArticle")
{
    <div class="article-date">
        <strong>Published on:</strong> @Model.Value("publicationDate")
    </div>
}

@* This line was already here *@
@Model.Value("mainContent")

@await Html.PartialAsync("_ChildPageList")


